<p>backend works!</p>


<form action="/backend/collaborators/modificadesiderata" method = "GET">
    <!-- radio button -->
    <p>quale entita vorresti modificare: <br>
        <input type = "radio" name = "entita" value="Museo" />Museo <br>
        <input type = "radio" name = "entita" value="Artista" />Artista <br>
        <input type = "radio" name = "entita" value="Opera" />Opera <br>
        <input type = "radio" name = "entita" value="Personaggio" />Personaggio <br>
        <input type = "radio" name = "entita" value="Utente" />Utente <br>
    </p>
    <!-- checkbox -->
    <!-- submit button -->
    <p><input type = "submit" value = "Submit" /></p>
</form>