<head>Fine Arts</head>
<form action = "/servizio1" method = "GET">
    <p> lista dei musei <input type = "text" name = "Name" /></p>
    <p><input type = "submit" value = "Submit" /></p>


</form>
<form action = "/servizio2" method = "GET">
    <p> inserire opera per visualizzare personaggi: <input type = "text" name = "titolo_ins" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio3" method = "GET">
    <p> inserire personaggio per visualizzare museo: <input type = "text" name = "pers_ins" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio4" method = "GET">
    <p> inserire nome artista: <input type = "text" name = "nomeartista" /></p>
    <p> inserire cognome artista: <input type = "text" name = "cognomeartista" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>


<form action = "/servizio5" method = "GET">
    <p> inserire nome artista: <input type = "text" name = "nomeins" /></p>
    <p> inserire cognome artista: <input type = "text" name = "cognomeins" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio6" method = "GET">
    <p> CLICCA QUESTO TASTO PER AVERE INFORMAZIONI DI TUTTI GLI ARTISTI</p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio7" method = "GET">
    <p> inserire 'TECNICA SPECIFICA' (esempio : olio su tela) per visualizzare il museo che contiene più opere con la tecnica specificata: <input type = "text" name = "tecnicascelta" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>


<form action = "/servizio8" method = "GET">
    <p> inserire 'STILE SPECIFICATO' (esempio : Rinascimento) per visualizzare il museo che contiene più opere con lo stile specificato: <input type = "text" name = "stileins" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio9" method = "GET">
<p>visualizzazione del personaggio che compare in più opere</p>
<p><input type = "submit" value = "Submit" /></p>
</form>

<form action = "/servizio10" method = "GET">
    <p>visualizzazione del personaggio che compare di meno</p>
    <p><input type = "submit" value = "Submit" /></p>
    </form>

<form action = "/servizio11" method = "GET">
        <p>inserire titolo di un' opera<input type = "text" name = "titoloins" /></p>
        <p><input type = "submit" value = "Submit" /></p>
        </form>


