<p>DBM works!</p>


<form action="/backend/collaborators/modificadesiderata/tipodimodifica/tipodimodificascelta" method = "GET">
    <!-- radio button -->
    <p>cosa vorresti fare: <br>
         <input type = "radio" name = "tipo" value="Modificare" />Modificare un infromazione <br>
        <input type = "radio" name = "tipo" value="Aggiungere" />Aggiungere un infromazione<br>
        <input type = "radio" name = "tipo" value="Eliminare" />Eliminare un infromazione
    </p>
    <!-- checkbox -->
    <!-- submit button -->
    <p><input type = "submit" value = "Submit" /></p>
</form>