<!-- https://github.com/CappuCitti/SQL-appunti/blob/main/NgFlaskJSON/NgServer/src/app/app.component.html -->

  <h1>hope it owrks</h1>


  <form>
    <div class="form-outline mb-4">
      <input #t [(ngModel)]="tecnica" class="form-control form-control-lg" placeholder="inserisci tecnica es. olio su tela" name = "tecnica" required/>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="onClick(t)"> cerca </button>
      <!-- <button (click)="onClick(t)" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Cerca </button> -->
    </div>
  </form>


  
<!-- {{citta}}
{{nome}}
{{paese}}
{{tot_opere}} -->

{{ dati | json }}
{{tecnica}}