
<h1>Visualizzazione di uno specifico personaggio</h1>

<br>

<form>
  <div class="form-outline mb-4">
    <input #p [(ngModel)]="personaggi" class="form-control form-control-lg" placeholder="inserisci nome di un personaggio per visualizzare in quale opere compare es. Venere" name = "personaggi" required/>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="onClick(p)"> cerca </button>
    <!-- <button (click)="onClick(t)" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Cerca </button> -->
  </div>
</form>


<br>
<br>
<br>
<br>

<div style="display: flex;">
  <div class="card col-xl-3" style="width: 18rem; margin-left: 5px; margin-right: 5px;" *ngFor="let data of dati">
    <img class="card-img-top" [src]="data.immagine" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">titolo opera: {{ data.titolo }}</h5>
      <p class="card-text">nome personaggio: {{ data.nome }}</p>
    </div>
  </div>
</div>