<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body style="height: 100%;">
  
    <div class="container">
      <h4><a href="#opere" class="link-dark">- Opere</a></h4>
      <h4><a href="#musei" class="link-dark">- Musei</a></h4>

      <h2 id="opere">Opere</h2>
      <br>
      <h3>La Velata</h3>
      <div class="container__contenuto">
        <div class="col-sm-12 col-xl-6">
          <p >La Velata fu così intitolata per via del lungo velo
            che copre il capo e le spalle della protagonista del ritratto di Raffaello,
            è dipinta contro uno sfondo scuro e monocromatico
          </p>
        </div>
        <div class="col-sm-12 col-xl-6 ">
          <img class="immagine" src="assets/images/La_velada,_por_Rafael.jpg" alt="La Gioconda">
        </div>
      </div>

      <hr>

      <h2 id="musei">musei</h2>
      <br>
      <h3 >Louvre</h3>
      <div class="container__contenuto">
        <div class="col-sm-12 col-xl-6">
          <p>
            Il Museo del Louvre si trova in Francia nel Palazzo del Louvre,
            una fortezza del XII secolo,  ampliata e riformata in varie occasioni.
            Prima di diventare un museo alcuni monarchi,
            come <a href="https://www.studenti.it/carlo-v-asburgo-biografia.html">Carlo V</a> e <a href="https://www.studenti.it/filippo-ii-di-spagna-biografia-storia.html">Filippo II</a>, utilizzarono il palazzo come residenza reale,
            dove conservarono le proprie collezioni d’arte.
            Trasferita la residenza reale nella sede del <a href="https://www.parigi.it/it/versailles.php">Reggia di Versailles</a>,
            l’impressionante edificio di 160.000 metri quadrati iniziò
            il suo processo di trasformazione in uno dei musei più importanti del mondo.
            Nel 1989 si costruì una piramide di cristallo, attualmente è utilizzata come porta d’ingresso,
            che ruppe la monotonia de blocchi grigi del museo.
          </p>
        </div>
        <div class="col-sm-12 col-xl-6 ">
          <img class="immagine" src="assets/images/louvre.jfif" alt="Louvre">
        </div>
      </div>




    </div>

  </body>