<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body style="height: 100%;">
  
    <div class="container">
      <h1>Click for More:</h1>
      <h4><a href="#ops" class="link-dark">- Opere</a></h4>
      <h4><a href="#" class="link-dark">- Musei</a></h4>

      <h2 id="ops">Opere</h2>
      <br>
      <h3>Gioconda</h3>
      <div class="container__contenuto">
        <div class="col-sm-12 col-xl-6">
          <p >Il Ritratto di Monna Lisa detto anche La Gioconda 
            di <a href="https://www.leonardo3.net/it/leonardo-da-vinci/">Leonardo da Vinci</a> è il dipinto più celebre al mondo.
            Secondo la tradizione, il dipinto rappresenta <a href="https://it.wikipedia.org/wiki/Lisa_Gherardini">Lisa Gherardini</a>
            moglie di Francesco del Giocondo e per questo ebbe come soprannome Gioconda.
            Altri storici basandosi su documenti dell’epoca identificarono la figura come
            personaggi differenti, Caterina Sforza, Caterina Buti del vacca, ...
          </p>
        </div>
        <div class="col-sm-12 col-xl-6 ">
          <img class="immagine" src="assets/images/La_Gioconda.jpg" alt="La Gioconda">
        </div>
      </div>

      <hr>

      <h3>Louvre</h3>
      <div class="container__contenuto">
        <div class="col-sm-12 col-xl-6">
          <p>
            Il Museo del Louvre si trova in Francia nel Palazzo del Louvre,
            una fortezza del XII secolo,  ampliata e riformata in varie occasioni.
            Prima di diventare un museo alcuni monarchi,
            come <a href="https://www.studenti.it/carlo-v-asburgo-biografia.html">Carlo V</a> e <a href="https://www.studenti.it/filippo-ii-di-spagna-biografia-storia.html">Filippo II</a>, utilizzarono il palazzo come residenza reale,
            dove conservarono le proprie collezioni d’arte.
            Trasferita la residenza reale nella sede del <a href="https://www.parigi.it/it/versailles.php">Reggia di Versailles</a>,
            l’impressionante edificio di 160.000 metri quadrati iniziò
            il suo processo di trasformazione in uno dei musei più importanti del mondo.
            Nel 1989 si costruì una piramide di cristallo, attualmente è utilizzata come porta d’ingresso,
            che ruppe la monotonia de blocchi grigi del museo.
          </p>
        </div>
        <div class="col-sm-12 col-xl-6 ">
          <img class="immagine" src="assets/images/La_Gioconda.jpg" alt="La Gioconda">
        </div>
      </div>




    </div>

  </body>